<section class="content-header fonts-sm" ng-controller="ctrl_product" ng-init="fetch_productList()" style="margin: 0px 25px 0px 25px;">
	<div class="container-fluid">
		<div class="row mb-1">
			<div class="col-sm-6">
				<h4>Product List</h4>
			</div>
			<div class="col-sm-6">
			 	<button type="button" class="btn btn-default float-sm-right">
			  		<i class="fa fa-window-close"></i>
			 	</button>
			</div>
		</div>
		<hr>
		<div class="row mb-1">
			<div class="col-sm-6">
				<button class="btn btn-default"  ng-click="refreshList()" >
				 	<i class="fa fa-sync-alt"></i> Refresh
				</button>
				<button class="btn btn-default" data-toggle="modal" data-target="#modal_addproduct">
				 	<i class="fas fa-plus"></i> Add Product
				</button>
				<button class="btn btn-default" data-toggle="modal" data-target="#modal_category">View Categories</button>
			</div>
			<div class="col-sm-6">
				<div class="float-right">
					<div class="row">
						<label class="col-form-label px-2">Filter By:</label>
						<div class="col-auto">
							<div class="dropdown">
								<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
							    	Select Category
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
									<form class="px-2 py-2">
										<!-- <div class="form-check">
								        	<input class="form-check-input" type="checkbox" value="ALL" id="checkbox1">
								        	<label class="form-check-label" for="cbx">All</label>
								      	</div> -->	
										<div class="form-check" ng-repeat="category in categorylist">
								        	<input class="form-check-input" type="checkbox" value="{{category.id}}" id="chbx_{{category.id}}" ng-click="get_categoryId(category.category)">
								        	<label class="form-check-label" for="cbx">{{category.category}}</label>
								      	</div>	
									</form>
						        </div>
							</div>	
						</div>
						<div class="col-auto">
							
						</div>
					</div>	
				</div>
				
				
			</div>
		</div>
		<div class="row mb-1" style="margin-top: 10px;">
			<div class="table-responsive">
				<table id="tblProductList" class="table table-bordered table-hover" datatable="ng" dt-options="dtOptions" dt-instance="dtInstance">
					<thead>
						<tr class="text-center">
							<th>Id</th>
							<th>Product</th>
							<th>Description</th>
							<th>Category</th>
							<th>Image</th>
						</tr>
					</thead>
					<tbody class="text-center">
						<tr ng-repeat="row in tbl_productlist">
							<td ng-click="editProductDetails($index, row)">{{row.id}}</td>
							<td ng-click="editProductDetails($index, row)">{{row.product_name}}</td>
							<td ng-click="editProductDetails($index, row)">{{row.product_description}}</td>
							<td ng-click="editProductDetails($index, row)">{{row.category}}</td>
							<td ng-click="editProductDetails($index, row)">
								<img src="{{row.product_img}}" class="img-fluid mb-2" width="30%" height="50">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- Category Modal -->
	<div class="modal fade" id="modal_category" aria-modal="true" role="dialog" data-backdrop="static" data-keyboard="false"  tabindex="-1" aria-labelledby="childModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          	<div class="modal-content">
            	<div class="modal-header">
	              	<h4 class="modal-title">Product Categories</h4>
	              	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                	<span aria-hidden="true">×</span>
	              	</button>
            	</div>
	            <div class="modal-body" ng-init="fetch_categoryList()">
	              	<div class="container-fluid">
	              		<div class="row mb-1">
							<div class="col-sm-8">
								<div class="input-group input-group-sm">
				                  	<input name="txtCategoryName" type="text" class="form-control" placeholder="Category Name Here" ng-model="categorydetails.category">
				                  	<span class="input-group-append" ng-show="editCategory === false">
				                    	<button type="button" class="btn btn-secondary btn-flat" ng-click="insert_category()" ng-disabled="categorydetails.category === '' || categorydetails.category == null"><i class="fas fa-plus"></i> Add Category</button>
				                  	</span>
				                  	<span class="input-group-append" ng-show="editCategory === true">
				                    	<button type="button" class="btn btn-secondary btn-flat" ng-click="update_category()" ng-disabled="categorydetails.category === '' || categorydetails.category == null || categorydetails.id == 10"><i class="fas fa-edit"></i> Update</button>
				                  	</span>
				                  	<span class="input-group-append" ng-show="editCategory === true" style="margin-left: 10px;">
				                    	<button type="button" class="btn btn-secondary btn-flat" ng-click="delete_category()" ng-disabled="categorydetails.category === '' || categorydetails.category == null || categorydetails.id == 10"><i class="fa fa-trash"></i> Delete</button>
				                  	</span>
				                  	<span class="input-group-append" ng-show="editCategory === true" style="margin-left: 10px;">
				                    	<button type="button" class="btn btn-secondary btn-flat" ng-click="cancel_editCategory()" ng-disabled="categorydetails.category === '' || categorydetails.category == null"><i class="fas fa-times"></i> Cancel</button>
				                  	</span>
				                </div>
							</div>
						</div>
	              		<hr>
	              		<div class="row mb-1">
							<div class="col-sm-12">
								<div class="table-responsive">
									<table id="tblCategoryList" class="table table-sm table-bordered table-hover" datatable="ng" dt-options="dtOptions" dt-instance="dtInstance">
										<thead>
											<tr class="text-center">
												<th>Id</th>
												<th>Category</th>
											</tr>
										</thead>
										<tbody class="text-center">
											<tr ng-repeat="category in categorylist">
												<td ng-click="edit_category(category)">{{category.id}}</td>
												<td ng-click="edit_category(category)">{{category.category}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
	              	</div>
	            </div>
	            <div class="modal-footer justify-content-between">
	            </div>
          	</div>
        </div>
    </div>

    <!-- Product Modal -->
	<div class="modal fade" id="modal_addproduct" aria-modal="true" role="dialog" data-backdrop="static" data-keyboard="false"  tabindex="-1" aria-labelledby="childModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          	<div class="modal-content">
            	<div class="modal-header">
	              	<h4 class="modal-title">Add Product</h4>
	              	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clearAddProductDetails()">
	                	<span aria-hidden="true">×</span>
	              	</button>
            	</div>
	            <div class="modal-body">
	              	<div class="container-fluid">
	              		<form>
			                <div class="card-body">
			                  	<div class="form-group">
			                    	<label for="txtAddProductName">Product Name</label>
			                    	<input type="text" class="form-control" id="txtAddProductName" placeholder="Product Name" ng-model="productdetails.product_name">
			                  	</div>
			                  	<div class="form-group">
			                    	<label for="txtAddProductDesc">Product Description</label>
			                    	<input type="text" class="form-control" id="txtAddProductDesc" placeholder="Product Description" ng-model="productdetails.product_description">
			                  	</div>
			                  	<div class="form-group">
			                  		<label for="txtAddProductCat">Category</label>
			                  		<div class="row">
			                  			<div class="col-auto">
			                  				<div class="mx-2">
				                  				<select class="form-control" ng-model="productdetails.product_category" ng-options="ctgy.category for ctgy in categorylist">
			    									<option value="">Select Category</option>
			    								</select>
			                  				</div>
			                  			</div>
			                  			<div class="col-auto">
			                  				<!-- <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#modal_category" ><i class="fa fa-eye"></i> View Categories</button> -->
			                  			</div>
			                  		</div>
			                  	</div>
			                  	<div class="form-group">
                    				<label for="btnUploadImg">Product Image</label>
                    				<div class="custom-file">
                      					<input type="file" class="custom-file-input" id="btnUploadImg" file-model="productdetails.product_img">
                      					<label id="lblFilename" class="custom-file-label" for="btnUploadImg">Choose File</label>
                    				</div>
                  				</div>
                  				<hr>
                  				<button type="button" class="btn btn-primary float-right" ng-click="insert_productdetails()"><i class="fas fa-plus"></i> Save</button>
			               	</div>
			            </form>
	              	</div>
	            </div>
	            <div class="modal-footer justify-content-between">
	            </div>
          	</div>
        </div>
    </div>

   <!--  Edit Product -->
   <div class="modal fade" id="modal_editproduct" aria-modal="true" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
          	<div class="modal-content">
            	<div class="modal-header">
	              	<h4 class="modal-title">Edit Product</h4>
	              	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clearAddProductDetails()">
	                	<span aria-hidden="true">×</span>
	              	</button>
            	</div>
	            <div class="modal-body">
	              	<div class="container-fluid">
	              		<form>
			                <div class="card-body">
			                  	<div class="form-group">
			                    	<label for="txtAddProductName">Product Name</label>
			                    	<input type="text" class="form-control" id="txtAddProductName" placeholder="Product Name" ng-model="productdetails.product_name">
			                  	</div>
			                  	<div class="form-group">
			                    	<label for="txtAddProductDesc">Product Description</label>
			                    	<input type="text" class="form-control" id="txtAddProductDesc" placeholder="Product Description" ng-model="productdetails.product_description">
			                  	</div>
			                  	<div class="form-group">
			                    	<label for="txtAddProductCat">Category</label>
									<select class="form-control" ng-model="productdetails.product_category" ng-options="ctgy.category for ctgy in categorylist">
    									<option value="">Select Category</option>
    								</select>			                  	
                    			</div>
			                  	<div class="form-group">
                    				<label for="btnUploadImg">Product Image</label>
                    				<div class="custom-file">
                      					<input type="file" class="custom-file-input" id="btnUploadImg" file-model="productdetails.product_img">
                      					<label id="lblFilename" class="custom-file-label" for="btnUploadImg">Choose File</label>
                    				</div>
                  				</div>
                  				<hr>
                  				<button type="button" class="btn btn-danger" ng-click="delete_productdetails()"><i class="fa fa-trash"></i> Delete</button>
                  				<button type="button" class="btn btn-primary float-right" ng-click="update_productdetails()"><i class="fas fa-edit"></i> Update</button>
			               	</div>
			            </form>
	              	</div>
	            </div>
	            <div class="modal-footer justify-content-between">
	            </div>
          	</div>
        </div>
    </div>

</section>
<script>
	$(function () 
	{
	  bsCustomFileInput.init();
	});
</script>