<section class="content-header" id="section_essay" ng-controller="ctrl_essay" >
	<div class="container-fluid">
		<div class="card border-secondary mb-3">
			<div class="card-header text-white bg-secondary">
	      <h3 class="card-title my-1" >Quiz Answer Form</h3>
        <div class="card-tools">
          <form class="form-inline">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Question #</span>
              </div>
              <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" ng-model="questionNumber" readonly>
            </div>
          </form>
        </div>
      </div>
      <div class="card-body" style="background-color: #E3E3E3;">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Answer Here:</label>
              <textarea id="txt_essay" class="form-control" rows="10" placeholder="Input Here ..." ng-model="essay"></textarea>
            </div>
          </div>
        </div>
        <hr>
        <div ng-show="quizStatus == 0">
          <button type="submit" class="btn btn-warning" ng-click="cancelExam()">Cancel</button>
          <button type="submit" class="btn btn-primary float-right" ng-click="nextQuestion()">Next >></button>
        </div>
        <div ng-show="quizStatus == 1">
          <button type="submit" class="btn btn-primary float-right" ng-click="endExam()">Done</button>
        </div>  
      </div>
		</div>
	</div>

  <div id="modalQuizEnd" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content bg-success">
        <div class="modal-header">
          <h4 class="modal-title">Quiz Complete.</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="refreshPage()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
            <p>Thank you for participating in this quiz.</p>
          </div>
      </div>
    </div>
  </div>
</section>