<section class="sec-scoreboard" id="sec_scoreboard">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="card">
            <div class="card-header text-white bg-secondary">
              <h3 class="card-title"><b>Scoreboard</b></h3>
            </div>
            <div class="card-body text-secondary" style="background-color: #E3E3E3 !important;">
              <div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="table-responsive">
                      <table id="tbl_scoreboard" class="table table-sm table-bordered table-hover" datatable="ng" dt-options="dtOpt_scorelist" dt-instance="dtInstance" width="100%">
                        <thead class="bg-secondary">
                          <tr class="text-center">
                            <th>Score</th>
                            <th>Quiz Id</th>
                            <th>Quiz Name</th>
                            <th>Date Taken</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody  style="background-color: #f0f1f2;">
                          <tr ng-repeat="row in filteredData ">
                            <td class="text-center" style="background-color: #b0cfb6 !important; font-weight: 700;">{{row.score}}</td>
                            <td>{{row.quiz_id}}</td>
                            <td>{{row.quiz_name}}</td>
                            <td>{{row.datetime_taken}}</td>
                            <td class="text-center">
                              <button type="button" class="btn btn-sm btn-outline-secondary m-1" ng-click="view_quizResult(row)"><i class="fas fa-eye"></i> View</button>
                            </td>
                            <!-- <td>{{row.branch}}</td>
                            <td>{{row.department}}</td> -->
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
	<div id="modal_quizResult" class="modal fade">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header bg-secondary">
          <p class="modal-title fonts-sm">Quiz Result</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clearAddProductDetails()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body fonts-sm">
          <div class="container">
            <div class="form-row">
              <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 my-2">
                <label class="fonts-sm" for="txtEmployeeId">Quiz ID</label>
                <input type="text" class="form-control fonts-sm" name="txtQuizId"  ng-model="details_quizResult.quiz_id" readonly>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 my-2">
                <label class="fonts-sm" for="txtFirstname">Quiz Name</label>
                <input type="text" class="form-control fonts-sm" name="txtQuizName"  ng-model="details_quizResult.quiz_name" readonly>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-1 col-xl-1 my-2">
                <label class="fonts-sm" for="txtMiddlename">Score</label>
                <input type="text" class="form-control fonts-sm" name="txtScore" ng-model="details_quizResult.score" readonly>
              </div>
            </div>
            <hr>
            <div class="table-responsive">
              <table id="tbl_questions" class="table table-sm table-bordered table-hover" datatable="ng" dt-options="dtOpt_answerslist" dt-instance="dtInstance" width="100%">
                <thead style="background-color: #C2C2C2">
                  <tr class="text-center">
                    <th><small>Question #</small></th>
                    <th><small>Answer</small></th>
                    <th><small>Score</small></th>
                    <th><small>Remarks</small></th>
                  </tr>
                </thead>
                <tbody style="background-color: #f0f1f2;">
                  <tr ng-repeat="row in userAnswerList">
                    <th class="text-center"><small>{{row.questionNumber}}</small></th>
                    <th class="text-wrap"><small>{{row.answer}}</small></th>
                    <th class="text-center"><small>{{row.answer_score}}</small></th>
                    <th class="text-wrap"><small>{{row.remarks}}</small></th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
