.module-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.module-container .module-header {
  width: 100%;
  background-color: #6c757d;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.module-container .module-header .module-header-title {
  font-size: 24px !important;
  font-weight: 600 !important;
  color: #fff;
}
.module-container .module-header .btn-dark-outline {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.module-container .module-header .btn-dark-outline:hover {
  background-color: #fff;
  color: #343a40;
}
.module-container .module-content {
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: #fff;
}

section .login-page {
  background: linear-gradient(180deg, rgba(17, 41, 53, 0) 0%, #112935 100%), linear-gradient(0deg, rgba(17, 41, 53, 0.2) 0%, rgba(17, 41, 53, 0.2) 100%), url("../../assets/images/bg-login.png") lightgray 50%/cover no-repeat;
}
section .login-page .brand-image {
  width: 100%;
  height: 200px;
  aspect-ratio: 16/9;
}
section .login-page .btn-login {
  border: 1px solid #ced4da !important;
  color: #939ba2 !important;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
}
section .login-page .btn-login:hover {
  background-color: #112935;
  color: #fff !important;
}
section .login-page .btn-custom {
  transition: all 0.3s ease;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
}
section .login-page .btn-custom:hover {
  transform: translateY(-2px);
  opacity: 0.85;
  background-color: #112935;
  color: #fff;
}

.content-wrapper {
  background: linear-gradient(180deg, rgba(17, 41, 53, 0) 0%, #363c3f 100%), linear-gradient(0deg, rgba(17, 41, 53, 0.2) 0%, rgba(17, 41, 53, 0.2) 100%), url("../../assets/images/bg-dashboard.png") rgb(32, 31, 31) 50%/cover no-repeat;
}

.sidebar-collapse.layout-fixed .brand-link img {
  width: 100% !important;
  height: 100% !important;
}
.sidebar-collapse.layout-fixed .brand-link .brand-text {
  display: none !important;
}
.sidebar-collapse.layout-fixed .main-sidebar:hover .brand-link img {
  height: 120px !important;
}
.sidebar-collapse.layout-fixed .main-sidebar:hover .brand-link .brand-text {
  display: block !important;
}

.section-module-manage-quiz {
  width: 100%;
  height: 100%;
  padding: 16px;
}
.section-module-manage-quiz .table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section-module-manage-quiz .table-container .table-container-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
