.content-wrapper {
    // height: 100vh;
    background: linear-gradient(180deg, rgba(17, 41, 53, 0.00) 0%, #363c3f 100%), 
                linear-gradient(0deg, rgba(17, 41, 53, 0.20) 0%, rgba(17, 41, 53, 0.20) 100%), 
                url('../../assets/images/bg-dashboard.png') rgb(32, 31, 31) 50% / cover no-repeat;
    // overflow-y: auto;
}

.sidebar-collapse {
    &.layout-fixed {
        .brand-link {
            img {
                // display: none !important;
                width: 100% !important;
                height: 100% !important;
            }

            .brand-text {
                display: none !important;
            }
        }
        .main-sidebar:hover {
            .brand-link {
                img {
                    height: 120px !important;
                }

                .brand-text {
                    display: block !important;
                }
            }
        }
    }
}