@use 'variables' as *;

.btn-dark-outline {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;

    &:hover {
        background-color: $white;
        color: $dark;
    }
}

.module-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: $white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .module-header {
        width: 100%;
        background-color: $module-header-bg-color;
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .module-header-title {
            font-size: 24px !important;
            font-weight: 600 !important;
            color: $white;
        }
    }

    .module-content {
        width: 100%;
        height: 100%;
        padding: 16px;
        background-color: $white;
    }
}

/* Loading Spinner Styles */
.loading-spinner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    
    .spinner {
      width: 40px;
      height: 40px;
      border: 4px solid rgba(255, 255, 255, 0.3);
      border-top: 4px solid #ffffff;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }
    
    p {
      margin-top: 16px;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.8);
    }
}

.bg-custom-dark {
    background-color: $module-header-bg-color;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    gap: 8px;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}