// Main SCSS - imports all stylesheets
// Add new @use statements here as you create more .scss files

@use 'variables' as *;
@use 'layouts';
@use 'login';
@use 'dashboard';
@use 'answer-sheet-records';
@use 'module-manage-quiz';
@use 'modal/modal-create-quiz';